h1{
    color:rgb(185, 114, 114);

}
body {
    background-color: #000000; /* Replace #f0f0f0 with the color you desire */
  }
.short{
    font-size: 10px;
    position: fixed;
    bottom: 0;
    right: 0;
    padding-right: 20px;
}  
.main-text{
    position: center;
    text-align: center;
}

h2{
    text-align: center;
    color: aqua;
}
p{
    color: aqua;
    padding-right: 200px;
    padding-left: 200px;
}

